.header{
    background-color: blue;
    color: white;
    text-align: center;
}

.navigation{
    background-color: green;
    color: white;
    text-align: left;
    height: 400px;
}

.content{
    background-color:aqua;
    color: white;
    text-align: center;
    height: 400px;
}

.Footer{
    background-color: blueviolet;
    color: white;
    text-align: center;
}


/*  */


header{
    position: fixed;
    top:0; left:0; right:0;
    z-index: 1000;
    background:#fff;
    padding:2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  }
  
  header .logo{
    font-size: 2.5rem;
    color:var(--black);
  }
  
  header .navbar a{
    font-size: 1.7rem;
    color:var(--black);
    margin:0 1rem;
  }
  
  header .navbar a:hover{
    color:var(--orange);
  }
  
  header .icons a{
    font-size: 2.5rem;
    color:var(--black);
    margin-left:1.5rem;
  }
  
  header .icons a:hover{
    color:var(--orange);
  }
  
  #menu-bar{
    font-size: 2.5rem;
    padding: .5rem 1.5rem;
    border:.1rem solid var(--black);
    color:var(--black);
    border-radius: .3rem;
    cursor: pointer;
    display: none;
  }
  